body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.menu {
    margin: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
    cursor: pointer;
    color: #fff;
}

.content {
    margin: 20px;
}

#carImage {
    max-width: 100%;
    height: auto;
}

.controls {
    margin: 20px;
}

.arrow {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    transition: 0.3s;
}

.arrow:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

h2 {
    font-size: 24px;
}

#backgroundText {
    font-size: 100px; /* Tamaño gigante */
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; 
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8)};
